@model IntegrationProject.Models.VolunteerEvent

@{
    ViewBag.Title = "Details";
    var today = DateTime.Now;
}

<h2>@Model.EventName</h2>

<div>
    <h4>Volunteer Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Event Host
        </dt>

        <dd>
            @ViewBag.First
            @ViewBag.Last
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>            
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
          <span class="address"> @Html.DisplayFor(model => model.Address)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<p>

    <button type="button" onclick="alert('Your generosity is greatly appreciated, Thank you for signing up!')">Sign up for Event!</button>
    @Html.ActionLink("Back to List", "Index")

    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Display Volunteers", "IndexVolunteerRoute", new { id = Model.ID }) |
    @if (ViewBag.LoggedUser != null)
    {
        if (ViewBag.Host == ViewBag.LoggedUser && Model.EndDate < today)
        {
            @Html.ActionLink("Display Volunteers", "IndexVolunteerRouteViewOnly", new { id = Model.ID })
        }
        else if (ViewBag.Host == ViewBag.LoggedUser && Model.EndDate > today)
        {
            @Html.ActionLink("Display Volunteers", "IndexVolunteerRoute", new { id = Model.ID })
        }
        else if (ViewBag.Host != ViewBag.LoggedUser && Model.EndDate > today)
        {
            @Html.ActionLink("Rate Event", "IndexHostRoute", new { id = Model.ID })
        }
    }

</p>



<h4>Event in Google Map</h4>

<div id="googleMap" style="width:100%;height:400px;"></div>
<script>
        function myMap() {
                    var mapProp = {
                center: new google.maps.LatLng(43.0389000, -87.9064700),
                zoom: 15,
            };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                var addresses = document.getElementsByClassName('address');
                var geocoder = new google.maps.Geocoder();

                for (var i = 0; i < addresses.length; i++) {
                    var address = addresses[i].innerHTML;

                    // Geocode each address and place a marker on the map
                    geocoder.geocode({ 'address': address }, function (results, status) {
                        if (status == 'OK') {
                            map.setCenter(results[0].geometry.location);
                            var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                            });
            }
                    else {
                        alert('Geocode was not successful for the following reason: ' + status);
        }
    });
            }

        }

</script>

@*map API*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT9CH_tlLdtRwV0F6iqV3SNtV1biYxLOY&callback=myMap"></script>
@*Geocode API*@
<script src=" https://maps.googleapis.com/maps/api/geocode/json?&key=AIzaSyAZT8uW1sDbU7asaucSjFJZ0b_Nnjqw5W8"></script>
