@model IEnumerable<IntegrationProject.Models.VolunteerEvent>

@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_LayoutVolunteer.cshtml";
}


<body>
    <h1>All Events</h1>
<<<<<<< HEAD

=======
>>>>>>> 0a8ffc654eaeff9245b7b8e8ad2ee4d343c72580
    @if (ViewBag.LoggedUser != null)
    { <p>
        @Html.ActionLink("Create New", "Create")
      </p>
    }

        @using (@Html.BeginForm())
        {
<p> Search for volunteer events in your city: @Html.TextBox("SearchString")<br/>
            <intput type="submit" value ="Search"/></p>
        }
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                @Html.ActionLink(item.EventName, "Details", new { id = item.ID })
                </td>
               
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
              
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
            </tr>
<<<<<<< HEAD
            }            
        </tbody>        
=======
            }
        </tbody>
>>>>>>> 0a8ffc654eaeff9245b7b8e8ad2ee4d343c72580
    </table>
    @Html.ActionLink("Back to List", "Index")
</body>

