@model IEnumerable<IntegrationProject.Models.VolunteerEvent>

@{
    ViewBag.Title = "Event";
}
<style>
    div.description {
        margin: 20px 0px 20px 0px;
        padding: 10px 0px 10px 0px;
        border: 5px groove red;
    }
</style>

<div align ="left">
<h2>
    @foreach (var x in Model)
    {
    @Html.DisplayFor(eventName => x.EventName)
    }
</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div align ="center">
    <div class=" description">
    <h4>
        @*@Html.DisplayNameFor(model => model.EventName)<br>*@

        @Html.DisplayNameFor(model => model.Description)
        @foreach (var x in Model)
        {
            <p>
                @Html.DisplayFor(modelItem => x.Description)
            </p> 
        }
    </h4>          
    </div>
</div>

<style>
    div.text-left{
        border: 3px dashed red;
        margin: 20px 0px 20px 0px;
        padding:10px 0px 10px 10px;
        
    }
</style>

<div class="text-left">
    <div class="table">

       <tr>@Html.DisplayNameFor(model => model.State)</tr> 

       <tr>@Html.DisplayNameFor(model => model.Zip)</tr>

        @Html.DisplayNameFor(model => model.StartDate)<br>

        @Html.DisplayNameFor(model => model.EndDate)<br>

        @Html.DisplayNameFor(model => model.Address)

        @Html.DisplayNameFor(model => model.City)<br>

    </div>
    

    @foreach (var item in Model)
    {
       
        @Html.DisplayFor(modelItem => item.EventName)

        @Html.DisplayFor(modelItem => item.HostID)

        @Html.DisplayFor(modelItem => item.Description)

        @Html.DisplayFor(modelItem => item.Address)

        @Html.DisplayFor(modelItem => item.City)

        @Html.DisplayFor(modelItem => item.State)

        @Html.DisplayFor(modelItem => item.Zip)

        @Html.DisplayFor(modelItem => item.StartDate)

        @Html.DisplayFor(modelItem => item.EndDate)


        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        @Html.ActionLink("Details", "Details", new { id = item.ID })
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })

    }
</div>



