@model IEnumerable<IntegrationProject.Models.VolunteerEvent>

@{
    ViewBag.Title = "Event";
}


<body>
    <h1>All Events</h1>
<<<<<<< HEAD
    @if (ViewBag.LoggedUser != null)
    { <p>
=======
   
    <p>
>>>>>>> 144d635f641523cef57985e2a5527d579b48bb6b
        @Html.ActionLink("Create New", "Create")
      </p>
    }

        @using (@Html.BeginForm())
        {
<p> Search for volunteer events in your city: @Html.TextBox("SearchString")<br/>
            <intput type="submit" value ="Search"/></p>
        }
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                @Html.ActionLink(item.EventName, "Details", new { id = item.ID })
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                </td>
               
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
              
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
            </tr>
<<<<<<< HEAD
            }            
        </tbody>        
=======

            }
        </tbody>
>>>>>>> 144d635f641523cef57985e2a5527d579b48bb6b
    </table>
    @Html.ActionLink("Back to List", "Index")
</body>

