@model IEnumerable<IntegrationProject.Models.VolunteerEvent>

@{
    ViewBag.Title = "Event";
}


<body>
    <h1>All Events</h1>
   
    <p>
        
        @Html.ActionLink("Create New", "Create")

        @using (@Html.BeginForm()) {
            <p> Search for volunteer events in your city: @Html.TextBox("SearchString")<br/>
            <intput type="submit" value ="Search"/></p>
        }
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                @Html.ActionLink(item.EventName, "Details", new { id = item.ID })
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
               
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
              
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
            </tr>

            }
        </tbody>
    </table>
</body>

