@model IEnumerable<IntegrationProject.Models.VolunteerEvent>

@{
    ViewBag.Title = "Event";
}
<style>
    div.description {
        margin: 20px 0px 20px 0px;
        padding: 10px 0px 10px 0px;
        border: 5px groove red;
    }
</style>



<div align ="left">
<h2>
    @Html.DisplayNameFor(model=> model.EventName)
</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div align ="center">
    <div class=" description">
    <h4>
        @*@Html.DisplayNameFor(model => model.EventName)<br>*@

        @Html.DisplayNameFor(model => model.Description)
        
    </h4>          
   </div>
</div>


<style>
    div.text-left{
        border: 3px dashed red;
        margin: 20px 0px 20px 0px;
        padding:10px 0px 10px 10px;
        
    }
</style>

<div class="text-left">       
        @Html.DisplayNameFor(model => model.Address) <br>
       
        @Html.DisplayNameFor(model => model.City)<br>
        
        @Html.DisplayNameFor(model => model.State)<br>
        
        @Html.DisplayNameFor(model => model.Zip) <br>
        
        @Html.DisplayNameFor(model => model.StartDate)<br>
        
        @Html.DisplayNameFor(model => model.EndDate)<br>
                  
 </div>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}


