@model IEnumerable<IntegrationProject.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNoBar.cshtml";
}

<h2>Volunteer Profile</h2>

<div>
    @*<h4>User</h4>*@
    <hr />
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <b>Name</b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <b>@Html.DisplayNameFor(model => model.Email)</b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Email)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <b>@Html.DisplayNameFor(model => model.Phone)</b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Phone)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <b>@Html.DisplayNameFor(model => model.Description)</b>
                </div>
                <div class="col-md10">
                    <blockquote class="blockquote">
                        <p class="mb-0">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </blockquote>                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <b>Volunteer Votes</b>
                </div>
                <div class="col-md-1">
                    <img src="~/Images/thumbsup.png" alt="Thumbs Up" width="30" height="30" />
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.VolunteerUpVotes)
                </div>
                <div class="col-md-1">
                    <img src="~/Images/thumbsdown.png" alt="Thumbs Up" width="30" height="30" />
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.VolunteerDownVotes)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <b>Event Host Votes</b>
                </div>
                <div class="col-md-1">
                    <img src="~/Images/thumbsup.png" alt="Thumbs Up" width="30" height="30" />
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.EventUpVotes)
                </div>
                <div class="col-md-1">
                    <img src="~/Images/thumbsdown.png" alt="Thumbs Up" width="30" height="30" />
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.EventDownVotes)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <b>@Html.DisplayNameFor(model => model.NoShowCount)</b>
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.NoShowCount)
                </div>
            </div>
        </div>
       
    }
</div>

@*<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerUpVotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerDownVotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventUpVotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDownVotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoShowCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
</td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerUpVotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerDownVotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventUpVotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDownVotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoShowCount)
        </td>
    </tr>
}

</table>*@
